.container-login{
    color: #fff;
    margin: auto;
    width:50%;
    /*width: 100%;*/
    margin-top:50px;
    padding:50px
}
html.body {
    margin: 0px;
    height: 100%;
}
.login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-form{
    width:60%;
    padding:20px;
    margin:auto;
}
body div.form-login{
    height: 100vh;
    background-color:red;
}
div.card{
    background-color:white!important;
}
