.iconProfile{
  font-size: 16px;
  color : 'red';
}
.headerLayoutOne{
  height: 60px;
  overflow: hidden;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.mainBody{
  padding: 15px;
  background-color: #FFF;
  height: calc(100vh - 60px);
  overflow: scroll;
}
.logoLayoutOne1{
  height: 120px;
  width: 100%;
  padding: 10px;

}

.profileContain{
  background-color: #FFF;
  height: 50px;
  width: 100%;
  /* border-radius: 50%; */
  transition: width 0.5s ;
}

.profileContainAnimate {
  width : 100%;
  height: 50px;
  background-color: #FFF;
  /* height : 0px; */
  transition: width 0.5s;
  display: block;
}



/* #components-layout-demo-custom-trigger .trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
  }

  #components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
  }

  #components-layout-demo-custom-trigger .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
  }

  .logo1{
    width: 100px;
    height:  100px;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    margin-left: 40px;
  } */
ul#rc-menu-uuid-09618-2-product-popup {
  background: gray;
}
